[submodule "motoman"]
	path = motoman
	url = https://github.com/DanManN/motoman.git
	branch = kinetic-devel
[submodule "robotiq_arg85_description"]
	path = robotiq_arg85_description
	url = https://github.com/a-price/robotiq_arg85_description.git
	branch = master
[submodule "pinocchio"]
	path = pinocchio
	url = https://github.com/stack-of-tasks/pinocchio-ros-release.git
	branch = release/noetic/pinocchio
